<div class="sto-__FORMAT__ sto-format sto-__PLACEHOLDER__-w-butterfly">
    <div class="sto-__PLACEHOLDER__-left"></div>
    <div class="sto-__PLACEHOLDER__-selection">
        <div class="sto-__PLACEHOLDER__-w-logo">
          <div class="sto-__PLACEHOLDER__-logo"></div>
          <div class="sto-__PLACEHOLDER__-claim"></div>
        </div>
        <div class="sto-__PLACEHOLDER__-content"></div>
        <div class="sto-__PLACEHOLDER__-w-cta">
          <div class="sto-__PLACEHOLDER__-cta"></div>
        </div>
    </div>
    <div class="sto-__PLACEHOLDER__-w-vignette">
        <div class="sto-__PLACEHOLDER__-vignette sto-product-container"></div>
    </div>
</div>
