.sto-container[data-type="VIC"] {
  position: relative;
  width: 100%;
  grid-column: ~"1/3";
  height: 42rem;
  box-sizing: border-box;
  margin-left: -1px;
  border: none;
}

.sto-container[data-type="VIC"] .sto-format {
  height: calc(100% - 0px);
  margin: 0;
  background-color: transparent;
  border: 1px solid #adadad;
}

.sto-container[data-type="VIC"] .sto-image-container {
  width: calc(50% - 0px);
  height: 100%;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.sto-container[data-type="VIC"] .sto-product-container {
  height: 100%;
  // padding: 10px;
  width: calc(50% - 0px);
  position: relative;
  display: inline-block;
  float: right;
  margin: 0;
}

.sto-container[data-type="VIC"] .sto-product-container::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.sto-container[data-type="VIC"] .sto-product-container .products_grid {
  width: 100% !important;
  background-color: white;
  margin: 0 !important;
}

.sto-container[data-type="VIC"][data-viewport="mobile"] {
    display: none !important;
}
